 {{#each this}}
<div class="product-flex-container">
    <div class="product-image">
        <img src="{{images.1.url}}" />
    </div>
    <div class="product-info">
        <ul>
            <li>{{specsTag}}</li>
            <li><a class="product-title" href="{{urls.0.value}}">{{title}}</a></li>
            <li class="product-summary">{{summary}}</li>
            <li>{{stars rating}}</li>
            {{#if promotions}}
            <li>{{promotions.0.title}}</li>
            {{/if}}
            <li class="description">{{{trim shortDescription}}}...<a href="{{urls.0.value}}">Meer</a></li>
        </ul>
    </div>
    <div class="product-offer-info">
        <ul>
            <li class="product-price">{{currency offerData.offers.0.price}}</li>
            <li  class="product-availability">{{offerData.offers.0.availabilityDescription}}</li>
            <li>Verkoop door: {{offerData.offers.0.seller.displayName}}</li>
        </ul>
    </div>
</div>
{{else}}
<p>Er zijn geen producten gevonden.</p>
{{/each}}